

.header,
.footer {
    background-color: #1F2937;
}

.header-logo {
    font-size: 20px;
    color: #F9FAF8;
}

.header-logo,
.header-links {
    padding: 8px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.hero-main-text {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header-links {
    font-size: 14px;
    color: #E5E7EB;
}

.left,
.left-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
}

.header-button {
    color: #F9FAF8;
}

.hero-secondary-text {
    max-width: 300px;
}

.hero-main-text {
    max-width: 200px;
}

.header-image {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
} 

.information-header {
    font-size: 26px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
    padding-bottom: 25px;
}

.main-image-container{
    display: flex;
    justify-content: space-between;
}

.info-text {
    text-align: center;
    max-width: 100px;
}

.main {
    padding: 50px;
}

img {
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

.quote-section {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 75px;
}

.quote {
    font-size: 26px;
    color: #1F2937;
    max-width: 350px;
}

.quote-attribution {
    font-size: 16px;
    font-weight: bold;
    color: #1F2937;
}

button, 
.button-section {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 12px;
    font-weight: bold;
}

button {
    border-radius: 5px;
}

.footer {
    color: #F9FAF8;
}
