.header,
.footer {
    background-color: #1F2937;
}

.header-logo {
    font-size: 20px;
    color: #F9FAF8;
}

.header-logo,
.header-links {
    padding: 8px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.hero-main-text {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header-links {
    font-size: 14px;
    color: #E5E7EB;
}

.left,
.left-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
}

.header-button {
    color: #F9FAF8;
}

.hero-secondary-text {
    max-width: 300px;
}

.hero-main-text {
    max-width: 200px;
}

.header-image {
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 50px;
} 

.information-header {
    font-size: 26px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
    padding-bottom: 25px;
}

.main-image-container{
    display: flex;
    justify-content: space-between;
}

.info-text {
    text-align: center;
    max-width: 100px;
}

.main {
    padding: 50px;
}

img {
    border: 1px solid #1F2937;
    border-radius: 5px;
}

.quote-section {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 50px;
}

.quote {
    font-size: 26px;
    color: #1F2937;
    max-width: 250px;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.quote-attribution {
    font-size: 16px;
    font-weight: bold;
    color: #1F2937;
    display: flex;
    justify-content: flex-end;
    padding-left: 30px;
}

.action-section {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    background-color: #3882F6;
    width: 600px;
    border-radius: 8px;
    gap: 32px;
    padding: 32px;
    display: flex;
    justify-content: space-between;
}

.content-top,
.content-text {
    color: #E5E7EB;
}

.content-top {
    font-weight: bold;
    font-size: 18px;
}

.content-text {
    font-size:14px;
}

button{
    color: #E5E7EB;
    background-color: #3882F6;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 6px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.content-on-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10%;
}

.footer {
    color: #F9FAF8;
    display: flex;
    justify-content: center;
}
